body {
    font-family: Arial, sans-serif;
    background-color: rgb(239, 56, 56);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 80%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
h1 {
    text-align: center;
    margin-top: 0;
}
.info {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.info .quantity-box {
    display: flex;
    align-items: center;
    background-color: #666;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: normal;
    margin-right: 10px;
}
.info .search-box {
    display: flex;
    align-items: center;
    background-color: rgb(239, 56, 56);
    color: white;
    border-radius: 4px;
    overflow: hidden;
    padding: 5px;
}
.info .search-box label {
    margin-right: 5px;
    font-weight: normal;
    color: white;
}
.info .search-box input[type="text"] {
    border: none;
    padding: 5px;
    border-radius: 4px;
    outline: none;
    background-color: rgb(239, 56, 56);
    color: white;
}
/* Estilos para a tabela */
.table-container {
    max-height: 50vh; /* Define a altura máxima da área de rolagem */
    overflow-y: auto; /* Adiciona a barra de rolagem vertical */
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.table td {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}
/* Estilos para a barra de rolagem */
.table-container::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}
.table-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra */
}
.table-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da barra de rolagem */
    border-radius: 10px; /* Arredonda as bordas da barra */
    border: 3px solid #f1f1f1; /* Espaço entre a barra e o track */
}
.table-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da barra ao passar o mouse */
}